<h1 class="page-header">me</h1>
<p>This relation extends the <a href="/rels/user">user</a> relation, to add URI templating</p>

<div class="well method">
  <h2>GET</h2>
  <p>The link is a URI template conatining the variable "name", which can be expanded with your username to get directly to your <a href="/rels/user">user</a> account.</p>
</div>
