<h1 class="page-header">posts <small>relation</h1>

<div class="well method">
  <h2>GET</h2>
  <p class="description">Show a list of a users posts</p>

  <div class="response">
    <h3>Responses</h3>
    <div class="code">
      <h4>200 OK</h4>
      <div class="body">
        <h5>Body</h5>
        <div class="links">
          <h6>Links</h6>
          <ul>
            <li><a href="/rels/user">ht:user</a> - user whose posts these belong to (REQUIRED)</li>
            <li>next (OPTIONAL)</li>
            <li>prev (OPTIONAL)</li>
          </ul>
        </div>
        <div class="embedded">
          <h6>Embedded Resources</h6>
          <p>Each <a href="/rels/post">ht:post</a> is embedded in this resource via a relation of the same name. For example:</p>
          <pre>
{
  "_embedded": {
    "ht:post": [{
      ... individual post resource ...
    },{
      ... individual post resource ...
    }]
  }
}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="well method">
  <h2>POST</h2>
  <p class="description">Create a new post for a user</p>

  <div class="request">
    <h3>Request</h3>
    <div class="headers">
      <h4>Headers</h4>
      <div class="type">
        The request should have the Content-Type application/json
      </div>
    </div>
    <div class="body">
      <h4>Body</h4>
      <div class="required">
        <h5>Required properties</h5>
        <ul>
          <li><strong>content</strong> : String containing the </li>
        </ul>
        <h5>Optional properties</h5>
        <ul>
          <li><strong>in-reply-to</strong> : a string which is the URI of the post to which it is a reply.</li>
        </ul>
        <h5>Example</h5>
        <pre>
  {
    "content": "Oh Hi there bob",
    "in-reply-to": "/posts/123123"
  }
        </pre>
      </div>
    </div>
  </div>

  <div class="response">
    <h3>Responses</h3>
    <div class="code">
      <h4>201 Created</h4>
      <div class="headers">
        <h5>Headers</h5>
        <ul>
          <li>Location: URI of the created <a href="/rels/post">post</a></li>
        </ul>
      </div>
    </div>
    <div class="code">
      <h4>401 Unauthorized</h4>
      <div class="headers">
        <h5>Headers</h5>
        <ul>
          <li>WWW-Authenticate: indicates the Auth method (typically HTTP Basic)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
