<h1 class="page-header">user <small>relation</small></h1>

<div class="well method">
  <h2>GET</h2>
  <p class="description">Show a user</p>

  <div class="response">
    <h3>Responses</h3>
    <div class="code">
      <h4>200 OK</h4>
      <div class="body">
        <h5>Body</h5>
        <div class="state">
          <h6>State</h6>
          <pre>
{
  "username": "bob",
  "real_name": "Bob Jones"
  "bio": "A bio of the user",
  "post_count": 123
}
          </pre>
        </div>
        <div class="links">
          <h6>Links</h6>
          <ul>
            <li><a href="/rels/posts">ht:posts</a> - list of posts belonging to this user (REQUIRED)</li>
            <%#<li><a href="/rels/followees">followees</a></li>%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
